__pycache__/
.cache/
/assets/
/configs/
/.artifacts/*
!/.artifacts/.gitkeep
/build/
/dist/
/node_modules/
/.venv/
/.venv_ludoxel/
/.ruff_cache/
/.pytest_cache/
/.mypy_cache/
/src/*.egg-info/
tools/export_directory_markdown/output/
src/ludoxel/shared/math/**/*.pyd
src/ludoxel/shared/math/**/*.so
src/ludoxel/shared/math/**/*.dylib
