# SPDX-FileCopyrightText: 2026 Kento Konishi
# SPDX-License-Identifier: LicenseRef-All-Rights-Reserved

graft assets
graft third-party
graft tools

include pyproject.toml
include README.md
include LICENSE

recursive-include src/ludoxel/presentation/interface/theme *.qss
recursive-include src/ludoxel/presentation/rendering/shaders *.vert *.frag *.comp *.glsl
recursive-include src/ludoxel/simulation/spaces/othello/resources *.json
recursive-include src/ludoxel/simulation/actors/ai_players/learning/resources *.json

global-exclude __pycache__ *.py[cod]
